<div class="form-stroke">
  <% form_for @session do |f| %>
    <h2>Sign in</h2>
    <br>
    <%= f.error_messages %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, :style => "width: 98%;" %>
    </p>
    
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :style => "width: 98%;" %>
    </p>
    
    <label>
      <%= f.check_box :remember %> Remember me
    </label>
    
    <div>
      <div style="float:left; padding-top: 9px;">
        <a href="#">Forgot your password?</a><br>
        <%= link_to t(:resend_validation_email_link, :scope => [:authentasaurus, :views, :sessions]), resend_validation_email_path %>
      </div>
      <div style="float:right;">
        <%= submit_tag "Sign in" %>
      </div>
      <br style="clear: both;">
    </div>
  <% end %>
</div>