<h1>Recover your password</h1>

<% form_for @recovery, :url => do_forgot_password_path do |f| %>
	<%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.submit "Send Instructions" %>
  </p>
<% end %>

<%= link_to "Cancel", url_for(:back) %>