<h1>Users</h1>
<table width="100%">
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Email</th>
		<th>Active</th>
		<th>Group</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.username, user %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= check_box_tag user.id, "active", user.active, :disabled => true  %></td>
			<td><%= link_to user.group.name, user.group %></td>
		</tr>
	<% end %>
</table>