<h1>Create new user</h1>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<br>
	<%= f.label :username %>
	<%= f.text_field :username, :size => 30 %>
	<br>
	<%= f.label :password %>
	<%= f.password_field :password, :size => 30 %>
	<br>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, :size => 30 %>
	<br>
	<%= f.label :name %>
	<%= f.text_field :name, :size => 30 %>
	<br>
	<%= f.label :email %>
	<%= f.text_field :email, :size => 30 %>
	<br>
	<%= f.label :active %>
	<%= f.check_box :active %>
	<br>
	<%= f.label :group_id %>
	<%= f.collection_select(:group_id, Group.find(:all), :id, :name, {:prompt => true}) %>
	<br>
	<%= f.submit "Create" %>
<% end %>