<h1><%= @permission.area.name %> permissions for <%= @permission.group.name %></h1>
<% if @permission.read %>
	<h3>Members of <%= @permission.group.name %> have read permission for <%= @permission.area.name %></h3>
<% end %>
<% if @permission.write %>
	<h3>Members of <%= @permission.group.name %> have write permission for <%= @permission.area.name %></h3>
<% end %>