<h1><%= @user.username %></h1>
<dl>
	<dt>Name : </dt>
	<dd><%= @user.name %></dd>
	<dt>Email : </dt>
	<dd><%= @user.email %></dd>
	<dt>Active : </dt>
	<dd><%= check_box_tag @user.id, "active", @user.active, :disabled => true  %></dd>
	<dt>Group : </dt>
	<dd><%= link_to @user.group.name, @user.group %></dd>
</dl>